<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CRUD NODEJS </title>
    <link rel="stylesheet" href="../css">
</head>

<body>
    <header class="px-1 d-lg-flex justify-content-lg-center">
        <h1> CRUD </h1>
    </header>
    <main class="container-fluid">
        <section class="row px-1 d-lg-flex justify-content-lg-center">
            <button type="button" class="btn btn-dark col-12 col-lg-2 mt-2 me-lg-2" onclick="location.href='/crud/create'"> CREATE </button>
            <button type="button" class="btn btn-dark col-12 col-lg-2 mt-2 me-lg-2" onclick="location.href='/crud/read'"> READ </button>
            <button type="button" class="btn btn-dark col-12 col-lg-2 mt-2 me-lg-2" onclick="location.href='/crud/update'"> UPDATE </button>
            <button type="button" class="btn btn-dark col-12 col-lg-2 mt-2 me-lg-2" onclick="location.href='/crud/delete'"> DELETE </button>
        </section>
    </main>
</body>

</html>