<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Delete </title>
    <link rel="stylesheet" href="../css">
</head>

<body>
    <header class="ps-1 d-lg-flex justify-content-lg-center">
        <h1> Delete </h1>
    </header>
    <main class="container-fluid">
        <section class="row">
            <article class="px-1 mb-3">
                <form class="form-group" method="post" action="./delete">
                    <label for="id"> Id </label>
                    <input type="number" class="form-control" name="id">
                    <input type="submit" class="btn btn-danger mt-2" value="Delete">
                </form>
            </article>
            <article class="px-1">
                <button type="button" class="btn btn-dark col-12 col-lg-auto" onclick="location.href='/'"> Back </button>
            </article>
        </section>
    </main>
</body>

</html>